*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header,a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 72, 88);
    padding: 15px 55px;
    margin-bottom: 50px;
    flex: 0 0 auto;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.main {
    flex: auto;
}

.hero {
    display: flex;
    padding: 150px;
    width: 100vw;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.hero-img {
    width: auto;
    height: 90%;
}

.hero-text {
    width: 32vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.hero-text h1 {
    font-size: 65px;
    font-weight: 900;
}

.hero-text p {
    font-size: 25px;
}

.hero-text button {
    width: max-content;
    font-size: 20px;
    padding: 8px 35px;
    border-radius: 25px;
    color: white;
    background-color: rgb(30, 72, 88);
    border: 1px solid gray;
    flex: 0 0 auto;
}